<footer class="bg-secondary">
  <div class="footer__container container-fluid">
    <div class="row">
      <div class="col">
        <ul class="footer__social">
          <li>
            <a class="footer__social--etsy" href="{{ $.Site.Data.social_media.etsy }}" aria-label="Etsy"></a>
          </li>
          <li>
            <a class="footer__social--instagram" href="{{ $.Site.Data.social_media.instagram }}" aria-label="Instagram"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
