<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="/">BLACK CAT APOTHEKARE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    {{ $currentPage := . }}
    <ul class="navbar-nav justify-content-end w-100">
      {{ range .Site.Menus.main }}
        <li class="nav-item">
          <a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</nav>
