{{ define "main" }}
  <div class="shop">
    <!-- JUMBOTRON -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h1>shop</h1>
          </div>
        </div>
      </div>
    </div>

    <div class="panel container">
      <div class="row">
        <div class="col text-center">
          <h3>etsy store</h3>
          <p>We'll have a store built-in to the website, coming soon enough. For now, please visit my Etsy store to find the latest and greatest!</p>
          <a
            href="https://www.etsy.com/shop/BlackCatApothekare/"
            role="button"
            class="btn btn-outline-secondary mt-4"
            rel="noopener"
            target="_blank"
          >
            shop with us
          </a>
        </div>
      </div>
    </div>
  </div>
{{ end }}
